<<<<<<< HEAD
body {
    width: 80%;
    margin: 0 auto;
    background: #F5F8FA;
}

header {
    background: #FFF;
}

.header {
    margin-top: 10px;
    margin-left: 10px;
}

main {}

#profile {
    margin-top: 10px;
    margin-left: 20px;
    width: 210px;
    height: 200px;
    float: left;
}

#information {
    text-align: center;
}

.tweet {
    /*margin-left:30%;*/
    margin-bottom: 10px;
    /*text-align: center;*/
    /*margin-left:50%;*/
    width: 500px;
    height: 200px;
    border: solid #333;
}

#name {
    font-size: 20px;
}

=======
body{
  width:80%;
  margin:0 auto;
  background: #F5F8FA;
}
header{
  background:#FFF;
}
.header{
  margin-top:10px;
  margin-left:10px;
}

main{
}
#profile{
  margin-top:10px;
  margin-left:20px;
  width:210px;
  height:200px;
  float:left;
}
#information{
  text-align: center;
}
.tweet{
  /*margin-left:30%;*/
  margin-bottom:10px;
  /*text-align: center;*/
  /*margin-left:50%;*/
  width:500px;
  height:200px;
  border:solid #333;
}
#name{
  font-size: 20px;
}
>>>>>>> f71001950869e6b1ba315f1df5795106004ffafd
a:visited:not(.btn) {
    color: black;
}

#detail {
    margin-top: 20px;
}

.zaki {
    margin-top: 20px;
}

.btn {
    cursor: pointer;
}

#img_pprofile {
    margin-left: 15%;
    margin-right: 15%;
    /*width:80%;*/
    height: 200px;
    z-index: -1;
}

.ttt {
    border-bottom: #1DA1F2 solid;
}

.hea {
    margin-top: 30px;
}

.propro {
    width: 100px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.id_h {
    margin-left: 10px;
}

.name_h {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.uee {
    margin-top: 10px;
}

.ter {
    margin-left: 150px;
}
