@charset "utf-8";

.login_signIn_buttons{
    width:20%;
    margin-right:10px;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left:auto;
}

.login_signIn_buttons button{
    margin:5px;
}

#loginPopWnd {
    border: solid;
    width:50%;
    margin:10px auto;
}

#loginPopWnd p{
    width:30%;
    margin:10px auto;
}

#loginForm{
    width:100%;
}

#loginForm div{
    margin:5px;
}

#loginForm div label {
    width:50%;
    text-align: right;
    padding-right:10px;
}

#btnLoginSubmit {
    display:block;
    width:15%;
    margin:10px auto;
}